<!-- <div ng-controller="AddSnippetCtrl" class="episode-data-container">

	<div class="row">
		<center>
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<select ng-model="selectedEpisode"
					ng-options="epi.name for epi in episodes" style="width: 100%;">
				</select>
			</div>
			<div class="col-sm-4"></div>
		</center>
	</div>

	<br />
	<div class="row">
		<center>
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<audio controls my-audio my-audio-time-elapsed style="width: 100%;">
					<source
						src="http://upload.wikimedia.org/wikipedia/commons/c/c8/Example.ogg"
						type='audio/ogg;codecs="vorbis"'></source>
				</audio>
			</div>
			<div class="col-sm-4"></div>
		</center>
	</div>


	<br />
	<div class="row">
		<center>
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<button type="button" class="btn btn-primary"
					ng-click="startSnippet()">Start</button>
				<span>{{startTime}}</span>&nbsp;&nbsp; - <span>{{endTime}}</span>
				<button type="button" class="btn btn-primary"
					ng-click="endSnippet()">End</button>
			</div>
			<div class="col-sm-4"></div>
		</center>
	</div>

	<br />
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4">
			<md-input-container class="md-block"> <label
				class="label-theme-color">UserName</label> <input required
				name="username" ng-model="username" md-autofocus>
			<div ng-messages="username.$error">
				<div ng-message="required">This is required.</div>
			</div>
			</md-input-container>


		</div>
		<div class="col-sm-4"></div>
	</div>

	<br />
	<div class="row">
		<center>
			<div class="col-sm-4"></div>
			<div class="col-sm-4 form-group row">
				<div class="col-xs-3">
					<label for="usr">Truth</label> <select ng-model="redColor"
						ng-options="red.value for red in dataArray" ng-change="rgbToHex()">
					</select>
				</div>
				<div class="col-xs-3">
					<label for="usr">Taste</label> <select ng-model="greenColor"
						ng-options="green.value for green in dataArray"
						ng-change="rgbToHex()">
					</select>
				</div>
				<div class="col-xs-3">
					<label for="usr">Ethics</label> <select ng-model="blueColor"
						ng-options="blue.value for blue in dataArray"
						ng-change="rgbToHex()">
					</select>
				</div>
				<div class="col-xs-3">
					<label for="usr"></label> <input type="text" class="form-control"
						ng-style="{'background-color':hexCode}" disabled>
				</div>
			</div>
			<div class="col-sm-4"></div>
		</center>
	</div>
</div> -->